@charset "utf-8";
/* CSS Document */
#container {
	display:block;
	/*margin-left:200px;*/
	width:800px;
}
.quotation-page-tile {
	background-color:#DADADA;
	margin-bottom:5px;
}
.quotation-page-tile-loaded {
	min-height:45px;
}
.customer-content-container {
	/*background-color:#CCC;*/
	box-sizing:border-box;
	padding:10px;
}
#quotation_info_tile, #quotation_info_tile_init {
	padding-left:10px;
}
.customer-content-container table {
	width:100%;
}
.customer-content-container-input-area {
	border-style:solid;
	border-width:0px;
	border-right-width:1px;
	border-color:#000;
}
.customer-content-container-results-area {
	display:table-cell;
	vertical-align:text-top;
	overflow-y:scroll;
}
.customer-content-container-results-area table {
	width:100%;
}
.customer-content-container-results-area table tr th {
	text-align:left;
}
.customer-content-container-space-divider {
	width:100%;
}
.textfield-initial {
	color:#CCC;
}
.textfield_error {
	background-color:#FF6464 !important;
}
.info_label {
	margin-right:20px;
	color:#666;
	font-weight:100;
}
.info_table {
	width:100%;
}
#models_grid_container {
	display:block;
	width:100%;
	box-sizing:border-box;
	position:relative;
	padding:10px;
}
#models_grid_container .models-box {
	display:block;
	box-sizing:border-box;
	height:200px;
	border-color:black;
	border-style:inset;
	border-width:1px;
	margin-bottom:5px;
	overflow-y:scroll;
}
.model-grid-row {
	display:block;
	box-sizing:border-box;
	height:40px;
	background-color:#999;
	border-style:solid;
	border-color:#000;
	border-width:0px;
	border-bottom-width:1px;
	overflow:hidden;
}
.model-grid-row_expanded {
	height:auto;
}
.model-grid-row_selected {
	height:auto;
	background-color:#F18E16;
}
.model-grid-row .model-grid-row-data span {
	display: inline-block;
	padding-left:20px;
	paddding-right:20px;
	float:left;
	box-sizing:border-box;
	width:16.66%;
	border-style:solid;
	border-color:black;
	border-width:0px;
	border-collapse:collapse;
	padding-top:10px;
}
.model-grid-row .model-grid-row-data .cageparttype-info {
	display:block;
}
.model-grid-row .model-grid-row-data .cageparttype-info .cageparttype-info-field {
	display:inline-block;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
}

/* styles for add model POpup */
#model_add_popup_container {
	display:block;
	/*width:550px;*/
	position:absolute;
	border-style:solid;
	border-color:black;
	border-width:1px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-box-shadow:  5px 5px 3px 3px #333;
    box-shadow:  5px 5px 3px 3px #333;
	background-color:#fff;
	padding:10px;
}
.model_add_dialogue_content {
}
#model_add_popup_container .model-add-dialogue-cage-design-select {
	display: block;
	border: 0px solid #000;
	border-bottom-width:1px;
	padding:10px;
}
#model_add_popup_container .model-add-dialogue-cage-design-select select {
	margin-right:20px !important;
}
#model_add_popup_container .model-add-dialogue-add-field-box {
	display:block;
}
#model_add_popup_container .model-add-dialogue-add-field-box .model-add-dialogue-add-field {
	display:block;
	padding:5px;
}
#model_add_popup_container .model-add-dialogue-add-field-box .model-add-dialogue-add-field select {
	margin-right:20px !important;
}
#model_add_popup_container .model-add-dialogue-add-field-box .model-add-dialogue-add-field .model-add-dialogue-add-field-additional-fields input {
	margin:0px;
	width:70px;
}
/* end for model add popup styles */

/*styles for model info box */
.models-info-container {
	display:block;
	padding:20px;
}
.models-info-container .tabs-box-container {
	display:block;
}
.models-info-container .tabs-box-container .tabs-holder {
	display:block;
	height:30px;
	margin:0px;
	padding:0px;
}
.models-info-container .tabs-box-container .tabs-holder .tab-tile {
	display:block;
	float:left;
	border-style:solid;
	border-color:#000;
	border-width:1px;
	cursor:pointer;
}
.models-info-container .tabs-box-container .tabs-holder .tab-tile-selected {
	background-color:#C90;
}
.models-info-container .tabs-box-container .tabs-holder .tab-tile .tab-tile-label {
	display:block;
	padding-left:15px;
	padding-right:15px;
	padding-top:3px;
	padding-bottom:3px;
}
.models-info-container .tabs-box-container .tabs-holder .tab-tile-selected .tab-tile-label {
}
.models-info-container .tabs-box-container .tabs-content-holder {
	display:block;
	border-style:solid;
	border-color:#000;
	border-width:1px;
}
.models-info-container .tabs-box-container .tabs-content-holder .tab-tile-content {
	display:none;
	padding:10px;
}
.models-info-container .tabs-box-container .tabs-content-holder .tab-tile-content-selected {
	display:block;
}
/* end: model info box */
/* styles for collpase panel */
.collapse-panel {
	display: block;
	width: 100%;
	border: 1px solid #999;
	/*background-color: #C6C6C6;*/
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.collapse-panel .collapse-panel-header {
	display:block;
	/*background-color:#9C0;*/
	border-color:#000;
	border-style:sold;
	border-width:1px;
	padding:0px;
}
.collapse-panel .collapse-panel-header table {
	margin-bottom:0;
}
.collapse-panel .collapse-panel-body table {
	margin-bottom:0;
}
.collapse-panel .collapse-panel-body {
	display:none;
	/*background-color:#09F;*/
	border-color:#000;
	border-style:sold;
	border-width:1px;
	padding:20px 0px 0px 0px;
}
.collapse-panel .collapse-panel-body-expanded {
	display:block;
}
/* end: collapse */

/* styles for model info edit functions */
.table-data {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.table-data-highlighted {
	background-color:#666;
}
.table-data-selected {
	background-color:#0F0;
}
.table .table-data td .table-input-element {
	width:85%;
}
/* end: model edit */